@font-face {
    font-family: lemonMilk;
    src: url(fonts/lemon_milk/LEMONMILK-Regular.otf);
}

@font-face {
    font-family: lemonMilkItallic;
    src: url(fonts/lemon_milk/LEMONMILK-RegularItalic.otf);
}

@font-face {
    font-family: RobotoCondensedRegular;
    src: url(fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf);
}

@font-face {
    font-family: RobotoCondensedBoldItallic;
    src: url(fonts/Roboto_Condensed/RobotoCondensed-BoldItalic.ttf);
}

* {
    font-family: RobotoCondensedRegular;
    font-size: 16px;
}

html {
    display: flex;
    justify-content: center;
    background-color: #233748;
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    margin: 0;
}

button {
    appearance: none;
    border: 1px solid #5a5391;
    border-radius: 5px;
    font-weight: 500;
    padding: 5px 10px;
    background-color: #8479d5;
    color: white;
    box-shadow: 0px 5px 5px rgb(0, 0, 0, 0.3);
}

#create:hover {
    background-color: #7167bf;
}

#create:active {
    background-color: #7167bf;
    box-shadow: none;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;
    height: 800px;
    box-shadow: 0px 14px 41px 1px rgba(0,0,0,0.61);
    
}

.top-section {
    display: flex;
    box-shadow: 0px 0px 41px 1px rgba(0,0,0,0.3);
    border-bottom: 1px solid black;
    z-index: 1;
}

.bottom-section {
    display: flex;
    flex: auto;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    width: 100%;
}

.bottom-section-left {
    display: flex;
    flex-direction: column;
    flex: auto;
    align-items: flex-start;
    padding-left: 80px;
}

form {
    display: flex;
    flex: auto;
    flex-direction: column;
    gap: 16px;
}

.login {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    color: #4d3c6c;
    font-weight: 400;
    font-style: italic;
}

label {
    font-size: 16px;
}

li {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 12px;
}

.feature-image {
    width: auto;
    height: 30px;
    align-self: flex-start;
}

.feature-list {
   display: flex;
   flex-direction: column;
   gap: 6px;
}

.feature-item {
    font-family: RobotoCondensedBoldItallic;
    font-size: 20px;
}

.money {
    color: #33C481
}

.territory {
    color: #D6AA70;
}

.house {
    color: #D32F2F;
}

.mount {
    color: #008FFF;
}

.vip {
    color: #FFC911;
}

.bottom-section-right {
    display: flex;
    flex-direction: column;
    flex: auto;
    align-items: center;
    padding-right: 80px;
}

.input-field {
    display: flex;
    flex-direction: column;
}

.header {
    font-family: RobotoCondensedBoldItallic;
    font-size: 32px;
    margin-top: 0;
}